* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container-central {
  width: 65%;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
  padding-left: 100px;
  color: #fff;
}
.navbar {
  height: 110px;
  width: 100%;
  background-color: #122a57;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul {
  padding-right: 200px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul li a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding: 20px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  border-radius: 40px;
}
.ul li a:hover {
  background-color: #fff;
  color: #122a57;
}

.seg-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px 80px;
}

.h1-div2 {
  color: #122a57;
  font-size: 70px;
  padding-left: 50px;
}

.p1 {
  color: #000;
  font-weight: bold;
  padding-left: 50px;
}

.saibamais {
  list-style: none;
  text-decoration: none;
  color: #fff;
  margin-left: 50px;
  padding: 5px 30px;
  border-radius: 30px;
  background-color: #122a57;
}

.div3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
}

.background {
  background-color: #122a57;
  width: 100%;
}

.service {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 30px 180px;
}

.rowdirect {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 80px;
}

.compra {
  color: #122a57;
  list-style: nome;
  text-decoration: none;
  background-color: #fff;
  text-align: center;
  padding: 5px 25px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
}

.blue {
  color: #122a57;
  padding-left: 50px;
}

.textodiv3 {
  color: #122a57;
  font-size: 40px;
  padding-left: 50px;
}

.letrasimg {
  color: #fff;
  font-size: 20px;
  justify-items: center;
  align-items: center;
  padding: 30px 3px;
}

.padding {
  padding-top: 30px;
  padding-left: 35px;
}

.border {
  border: 5px solid #122a57;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0px 50px;
  padding: 20px 0px;
}

.div4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 50px;
}

.collumul {
  font-size: 15px;
  font-weight: bold;
  color: #122a57;
  justify-content: center;
  align-items: center;
  list-style: square;
  padding: 40px;
}

.collumul li {
  padding: 2px;
}

.rodape {
  height: 75px;
  width: 100%;
  background-color: #122a57;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy {
  color: #fff;
  font-size: 20px;
  padding-left: 50px;
}

.jow {
  color: #fff;
  font-size: 20px;
  padding-right: 50px;
}

.saibamaisborder {
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding: 5px 30px;
  border-radius: 30px;
  background-color: #122a57;
}

#linha-horizontal {
  width: 150px;
  border: 2px solid #122a57;
}
